
@import 'font';

$bg-color: #eee;
$container-color: #fff;


body {
  background: $bg-color;
  box-sizing: border-box;
  font-family: 'Roboto';
}

#inner-wrap {
  display:flex;
  flex-flow: row wrap;
  padding: 5rem 0 2rem;
  font-size: 1rem;
  background: $bg-color;
  > div {
    flex:1;
    background:$container-color;
    margin: 0.2rem;
    padding: 0.5rem;
    overflow: hidden;
  }
  &.columns-1 {
    & > div:nth-child(2){ display: none; }
    & > div:nth-child(3){ display: none; }
    & > div:nth-child(4){ display: none; }
  }
  &.columns-2 {
    & > div:nth-child(3){ display: none; }
    & > div:nth-child(4){ display: none; }
  }
  &.columns-3 {
    & > div:nth-child(4){ display: none; }
  }
}

#nav {
  display:flex;
  position: fixed;
  width: 98%;
  top:0;
  padding: 0.5rem 0.2rem;
  background: $bg-color;
  button {
    cursor:pointer;
    font-size: 0.8rem;
  }
  span {
    flex: 2;
    line-height: 2rem;
    padding-left: 1rem;
    font-size: 0.9rem;
  }
}




.maison {
  font-family: 'Maison Neue';
}
.roboto {
  font-family: 'Roboto';
}
.roboto-condensed {
  font-family: 'Roboto Condensed';
}
.roboto-slab {
  font-family: 'Roboto Slab';
}



.thin-100 {
  font-weight: 100;
}
.light-300 {
  font-weight: 300;
}
.normal-400 {
  font-weight: 400;
}
.medium-500 {
  font-weight: 500;
}
.bold-700 {
  font-weight: 700;
}
.ultra-bold-900 {
  font-weight: 900;
}
.uppercase {
  text-transform: uppercase;
}
.spacing {
  letter-spacing: 0.1em;
}



/* slider */
.slider {
  width: 50%;
  max-width: 500px;
  height: 30px;
  background: $container-color;
}
.handle {
  background-color: black;
  cursor: pointer;
  &.active {
    background-color: darken($bg-color,30%);
  }
}
.bar {
  position: relative;
  background-color: darken($bg-color,10%);
}
.slider {
  .bar {
    top: 13px;
    height: 4px;
  }
  .handle {
    width: 40px;
    height: 30px;
  }
}
