

@font-face {
  font-family: "Maison Neue";
  font-style: normal;
  font-weight: 200;
  src: url('font/MaisonNeueWEB-Light.woff') format('woff')
}
@font-face {
  font-family: "Maison Neue";
  font-style: normal;
  font-weight: 300;
  src: url('font/MaisonNeueWEB-Book.woff') format('woff')
}
@font-face {
  font-family: "Maison Neue";
  font-style: normal;
  font-weight: 500;
  src: url('font/MaisonNeueWEB-Medium.woff') format('woff')
}
@font-face {
  font-family: "Maison Neue";
  font-style: normal;
  font-weight: 600;
  src: url('font/MaisonNeueWEB-Demi.woff') format('woff')
}
@font-face {
  font-family: "Maison Neue";
  font-style: normal;
  font-weight: 700;
  src: url('font/MaisonNeueWEB-Bold.woff') format('woff')
}
